<div *ngIf="isLoading; else dataContent" >
  <div nz-row   nzAlign="middle"  [nzGutter]="24">
    <div nz-col nzSpan="12" class="show" >
      <div class="card-container1"  role="main">
      <nz-tabset>
        <nz-tab nzTitle="Cargoes">
          <nz-table #basicTable [nzData]="cargo_list" class="fixed-height-table" >
            <thead>
              <tr>
                <th>Name</th>
                <th>type_cargo</th>
                <th>weight</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data; trackBy: trackByIndex" class="fixed-width-cell">
                <td>{{ data.name }}</td>
                <td>{{ data.type_cargo }}</td>
                <td>{{ data.weight }}</td>
                <td>
                  <a>Action 一 {{ data.name }}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>Delete</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Container">
          <nz-table #basicTable1 [nzData]="container_list" class="fixed-height-table" >
            <thead>
              <tr>
                <th>container</th>
                <th>type_container</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable1.data; let i = index; trackBy: trackByIndex1">
                <td>container {{ i + 1 }}</td>
                <td>{{ data.type_container }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-tab>
      </nz-tabset>
      </div>
    </div>
    <div nz-col nzSpan="12">
      <div class="content" role="main">
        <p>Create New Project ! </p>
          <p>Here are some links to help you get started:</p>
          <img src="assets/img/container1.png">
          <form nz-form>
            <nz-form-item>
              <nz-form-label nzFor="Pname">Project Name:</nz-form-label>
              <nz-form-control [nzSpan]="20">
                <input nz-input name="pname"  id="pname" [(ngModel)]="projectName"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
            <input type="file" name="file" id="file" class="inputfile" (change)="ReadExcel($event)"/>
              <label for="file">Choose Excal file</label>
            </nz-form-item>
            <button  (click)="Submit()">genarate</button>
            <button (click)="sendDataToReceiver()">Send Data</button>
          </form>
        </div>
    </div>
  </div>
</div>


<ng-template #dataContent>
  <div class="content" role="main">
    <img src="assets/img/load1.gif" alt="Loading..." />
  </div>

</ng-template>




