<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" [nzTrigger]="null">
    <img class="logo"src="assets/img/logoW.jpg"/>
    <ul nz-menu  nzMode="inline" >
      <li nz-menu-item (click)='goNewProject("profile")'>
        <span nz-icon nzType="user" nzTheme="outline"></span>
        <span>User</span>
      </li>
      <li nz-menu-item (click)='goNewProject("projects")'>
        <span nz-icon nzType="project" nzTheme="outline"></span>
        <span>My Project</span>
      </li>
      <li nz-menu-item (click)='logout()'>
        <span nz-icon nzType="logout" nzTheme="outline"></span>
        <span>Log Out</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
          <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Container Loading</nz-footer>
  </nz-layout>
</nz-layout>
